@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: black; */
}
body {
  overflow-x: hidden;
}
/* navigation bar */
#container {
  padding: 10px 30px;
  height: 60px;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  justify-content: space-between;
  z-index: 5;
  transition: 0.3s;
}
.bcolor {
  background-color: rgb(0, 75, 151);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* box-shadow: 0 5px 40px rgb(0 0 0 / 7%); */
}

#container .items {
  margin-top: -10px;
  max-width: 800px;
  height: 100px;
  position: relative;
  right: 70px;
}
#container img {
  width: 80%;
  left: 120px;
  position: relative;
  cursor: pointer;
}
#container ul {
  list-style-type: none;
}
#container a {
  text-decoration: none !important;
}
.nav-items li {
  float: left;
}
.nav-items table {
  position: absolute;
  /* font-size: 80%; */
  font-weight: light;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
  box-shadow: 0 5px 40px rgb(0 0 0 / 7%);
}

.nav-items table td {
  font-weight: light;
  font-size: 95%;
}

.nav-items table tr {
  padding: -10px 0;
  margin: -10px 0;
}
.nav-items table th {
  color: rgb(0, 75, 151);
}

.dropdown-content {
  display: none;
  position: absolute;
  padding: 1px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
  box-shadow: 0 5px 40px rgb(0 0 0 / 7%);
  transition: 0.3s;
}
.visible {
  visibility: visible;
  transition: 0.3s;
}
.dropdown-content a,
a:link,
a:visited {
  color: black;
  text-decoration: none;
  display: block;
  margin: 20px;
}
.logo {
  /* padding-left: 150px; */
  width: 200px;
  display: inline;
}

/* page 1 */

.page1 {
  font-size: 20px;
  position: relative;
  height: 1000px;
}
.page1 {
  top: 0;
  width: 1920px;
  height: 1080px;
  background: url("images/back.jpg");
  background-repeat: no-repeat;
  background-color: rgb(68, 80, 131);
  background-blend-mode: multiply;
}
.sub {
  /* background-color: rgb(0, 75, 151); */
  background: linear-gradient(rgb(0, 75, 151) 30%, white 30%);
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 400px;
  justify-content: space-evenly;
  text-align: center;
  color: white;
  border-radius: 5px;
  z-index: 5;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 150px;
  right: 50px;
  padding: 20px;
  display: none;
}
.sub p {
  font-size: 80%;
  margin: 10px 0;
}
.sub input {
  border-radius: 5px;
  width: 300px;
  height: 40px;
  border: 1px solid rgb(210, 210, 210);
  margin: 10px 0;
  padding: 0 15px;
}
.sub button {
  border-radius: 5px;
  width: 300px;
  height: 40px;
  border-style: none;
  font-size: large;
  font-weight: 500;
  margin: 10px 0;
  background-color: rgb(0, 75, 151);
  cursor: pointer;
}
.sub button img {
  width: 10%;
}
.sub textarea {
  border-radius: 5px;
  width: 300px;
  height: 100px;
  margin: 10px 0;
  border: 1px solid rgb(210, 210, 210);
  padding: 15px 15px;
  resize: none;
}
.arrow {
  background-color: white;
  position: fixed;
  display: none;
  bottom: 150px;
  right: 50px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  /* display: inline-block; */
  text-align: center;
  align-items: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.arrow img {
  width: 20px;
  height: 20px;
  margin-top: 8px;
}
.main {
  /* line-height: 60px; */
  width: 700px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 800px;
  padding: 80px 0;
  justify-content: center;
  /* align-items: center; */
  margin-left: 150px;
}
.main button {
  background-color: transparent;
  color: white;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 5px;
  padding: 14px 10px;
  width: 200px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.main h1 {
  margin: 25px 0;
}

.features img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.features {
  font-size: 15px;
  margin: 40px;
  color: white;
  position: absolute;
  bottom: 0;
  width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.one,
.two,
.three,
.four {
  width: 200px;
  line-height: 20px;
}

/* page2 */

.page2 {
  display: flex;
  flex-direction: row;
  padding: 70px 150px;
}
.page2 h1 {
  font-size: 40px;
  min-width: 30%;
}
.page2 p {
  margin: 0 10px;
  font-size: 20px;
}

/* page 3 */

.page3 {
  display: flex;
  background-color: rgb(247, 249, 251);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  max-height: 1000px;
}
.page3 th,
td {
  padding: 15px;
  width: 300px;
}
.page3 td {
  text-align: center;
}

.page3 img {
  max-width: 70px;
  max-height: 50px;
  margin: 20px 0;
}
.page3 button {
  margin: 30px 0;
  background-color: rgb(0, 75, 151);
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 14px 10px;
  width: 150px;
  transition: 0.3s;
  font-size: 16px;
  cursor: pointer;
}

/* page 4 */
.page4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.page4 th,
td {
  align-items: center;
  font-size: large;
  line-height: 30px;
  padding: 20px;
  width: 400px;
}
.page4 td {
  text-align: center;
}

.page4 img {
  position: relative;
  top: 25%;
  max-width: 40px;
  max-height: 40px;
}

.dot {
  height: 80px;
  width: 80px;
  margin: 40px 0;
  background-color: rgb(0, 75, 151);
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  align-items: center;
}

/* page 5 */

.page5 {
  color: white;
  background: url("images/page5.jpg");
  background-repeat: no-repeat;
  background-color: rgb(90, 90, 90);
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 50px 0; */
  padding: 35px 0;
}

.page5 .boxes {
  display: flex;
  flex-direction: row;
}

.page5 .box {
  text-align: center;
  margin: 25px;
  padding: 50px;
  width: 350px;
  height: 350px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid white;
}
.page5 h2 {
  margin: 25px 0;
}

/* page6 */
.page6 {
  background-color: rgb(247, 249, 251);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  height: 350px;
}
.page6 h1 {
  margin: 50px 0;
}
.techContainer {
  display: flex;
  flex-direction: row;
  transition: 0.3s;
}

.tech {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20px;
  margin: 0 70px;
}
.tech img {
  transition: 0.3s;
  max-width: 60px;
  max-height: 60px;
  margin: 20px 0;
}
.tech a :hover {
  margin-top: +10px;
}
/* page 7 */

.page7 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  padding: 35px 0;
}
.page7 p {
  width: 70%;
  font-size: large;
}

/* page 8 */
.page8 {
  background: url("images/page8.jpg");
  background-repeat: no-repeat;
  background-color: rgb(90, 90, 90);
  background-blend-mode: multiply;
  display: flex;
  color: white;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* margin: 30px 0; */
  padding: 35px 0;
}
.page8 p {
  margin: 30px 0;
  width: 70%;
  font-size: large;
}
.page8 button {
  margin: 20px 0;
  background-color: transparent;
  color: white;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 5px;
  padding: 14px 10px;
  width: 200px;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
}
.page9 {
  background-color: rgb(213, 225, 237);
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.page9 table {
  width: 1200px;
}
.page9 th {
  padding: 10px 0;
}
.page9 tr,
th,
td {
  text-align: left;
  /* padding: 0 15px; */
}

.page9 a {
  color: black;
  text-decoration: none;
  margin: -20px;
}
.chat {
  background-color: rgb(0, 75, 151);
  position: fixed;
  /* top: 600px; */
  bottom: 60px;
  right: 50px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  align-items: center;
  transition: 3ms;
}
.chat img {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 35px;
  height: 35px;
}

/* footer */

#ffirst {
  background-color: rgb(0, 75, 151);
  padding-bottom: 10px;
  margin-bottom: 25px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#ffirst .left {
  display: flex;
  flex-direction: row;
}
#ffirst .left a {
  width: 5px;
  margin: 0 20 px;
}
#ffirst img {
  width: 20px;
  height: 20px;
  /* margin: 0 5px; */
}
#ffirst .right {
  display: flex;
  flex-direction: row;
}
#ffirst .right a {
  margin: 0 10px;
  color: white;
  font-weight: lighter;
  font-size: 90%;
  text-decoration: none;
}
#ffirst .right p {
  font-weight: lighter;
  font-size: 90%;
  margin: 0 5px;
  color: rgba(255, 255, 255, 0.7);
}

#fsecond img {
  width: 20px;
  height: 20px;
}
#fsecond a {
  font-size: 90%;
  padding: 0 25px;
  color: black;
  text-decoration: none;
}
#fsecond {
  width: 100%;
  height: 40px;
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
